body {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
}
.homeAppContainer {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}
.bodySection {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: -moz-background-image url("../imgs/fondo.jpg");
  background-image: -webkit-background-image url("../imgs/fondo.jpg");
  background-image: -webkit-background url("../imgs/fondo.jpg");
  background-image: -o-background-image url("../imgs/fondo.jpg");
  background-image: -ms-background url("../imgs/fondo.jpg");
  background-image: url("../imgs/fondo.jpg");
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  font-size: 1em;
  display: flex;
  align-content: center;
}
.bodySection > div {
  align-self: center;
  margin: 0 auto;
  color: #fff;
  background: rgba(0,0,0,0.5);
  height: 50vh;
  text-align: center;
  border-radius: 7px;
}
.bodySection > div > figure {
  height: 50%;
}
.bodySection > div > figure > img {
  height: 100%;
  width: auto;
  display: block;
  margin: 2em auto;
}
.bodySection > div > span {
  font-family: 'Chewy', cursive;
  color: #fff;
  font-size: 3em;
  letter-spacing: 0.2em;
}
.bodySection > div > ul {
  width: 100%;
  display: table;
  padding: 0;
  margin-top: 2em;
}
.bodySection > div > ul > li {
  height: 2.5em;
  display: table-cell;
  font-size: 1.3em;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  border-bottom: 2px solid transparent;
}
.bodySection > div > ul > li:hover {
  background: rgba(255,255,255,0.1);
  border-bottom: 2px solid #fff;
}
.bodySection > div > ul > li a {
  color: #fff;
  line-height: 2.5em;
  vertical-align: middle;
  text-decoration: none;
}
.menuNav {
  width: 100%;
  height: 5em;
  font-size: 1em;
  position: fixed;
  z-index: 1;
  top: 0;
}
.menuNav > nav {
  width: 100%;
  background: rgba(255,255,255,0.5);
}
.menuNav > nav > ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
.menuNav > nav > ul > li {
  list-style: none;
  float: right;
  width: 10%;
  height: 5em;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  text-align: center;
  border-bottom: 2px solid transparent;
}
.menuNav > nav > ul > li:hover {
  background: rgba(255,255,255,0.8);
  border-bottom: 2px solid #193441;
}
.menuNav > nav > ul > li > a {
  font-size: 1.4em;
  color: initial;
  text-decoration: none;
  line-height: 3.5em;
}
.menuNav > nav > ul #homeId {
  float: left !important;
  margin-left: 3em;
  font-weight: bold;
  font-family: 'Chewy', cursive;
  letter-spacing: 0.2em;
  width: 12%;
}
.menuNav > nav > ul #homeId > a {
  font-size: 3em;
  line-height: 1.8em !important;
}
.menuNav > nav > ul #homeId:hover {
  background: initial !important;
  border-bottom: 2px solid #193441;
  text-shadow: 0 3px 20px #8c8c8c;
}
.aboutUsContainer {
  width: 100vw;
  position: absolute;
  top: 0;
}
.aboutUsFigure {
  width: 80vw;
  height: 60vh;
  margin: 1% auto 2% auto;
  overflow: hidden;
  border-radius: 10px;
  background-image: -moz-background-image url("../imgs/aboutUs1.jpg");
  background-image: -webkit-background-image url("../imgs/aboutUs1.jpg");
  background-image: -webkit-background url("../imgs/aboutUs1.jpg");
  background-image: -o-background-image url("../imgs/aboutUs1.jpg");
  background-image: -ms-background url("../imgs/aboutUs1.jpg");
  background-image: url("../imgs/aboutUs1.jpg");
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.titleFirts {
  font-size: 3em;
  font-weight: bold;
  border-bottom: 2px solid #193441;
}
.titlePage {
  width: 100%;
  text-align: center;
  margin: 4% auto 0 auto;
}
.textContainer {
  width: 82vw;
  margin: 1% auto 1% auto;
  text-align: center;
  padding: 0;
  position: relative;
}
.textContainer .textInfo {
  text-align: justify;
  font-size: 1.5em;
}
.textContainer .imageInfo {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.textContainer .imageInfo > figure {
  width: 100%;
  height: 100%;
  display: flex;
}
.textContainer .imageInfo > figure > img {
  align-self: center;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
.textContainer .titleP {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}
.textContainer .titleP > span {
  font-size: 1.2em;
  font-weight: bold;
}
@media screen and (min-width: 1500px) {
  .textContainer .imageInfo > figure > img {
    width: auto !important;
    height: 100% !important;
  }
}
