body {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  min-height: 320px;
  min-width: 320px;
}
.homeAppContainer {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.homeAppContainer > section {
  min-height: 83vh;
  padding-top: 7em;
}
.homeAppContainer > footer {
  height: 17vh;
  min-height: 95px;
  overflow: hidden;
  width: 100%;
  position: relative;
  background: #193441;
  color: #fff;
  padding: 1em 0;
}
.homeAppContainer > footer h5 {
  font-weight: bold;
}
.overflow-hidden {
  overflow: hidden;
}
.bodySection {
  height: 100vh;
  width: 100%;
  min-height: 320px;
  min-width: 320px;
  overflow: hidden;
  background-image: -moz-background-image url("../imgs/fondo.jpg");
  background-image: -webkit-background-image url("../imgs/fondo.jpg");
  background-image: -webkit-background url("../imgs/f  ondo.jpg");
  background-image: -o-background-image url("../imgs/fondo.jpg");
  background-image: -ms-background url("../imgs/fondo.jpg");
  background-image: url("../imgs/fondo.jpg");
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  font-size: 1em;
  display: flex;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex;
  align-content: center;
}
.bodySection > div {
  align-self: center;
  -webkit-align-self: center;
  -moz-box-align: center;
  margin: 0 auto;
  color: #fff;
  background: rgba(0,0,0,0.5);
  display: block;
  position: relative;
  height: 75vh;
  min-height: 320px;
  text-align: center;
  border-radius: 7px;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.bodySection > div > figure {
  height: 10.5em;
}
.bodySection > div > figure > img {
  height: 100%;
  max-width: 300px;
  max-height: 100%;
  width: auto;
  display: block;
  margin: 2em auto;
}
.bodySection > div > div {
  margin-top: 2em;
}
.bodySection > div > div > span {
  font-family: 'Chewy', cursive;
  color: #fff;
  font-size: 3em;
  letter-spacing: 0.2em;
}
.bodySection > div > ul {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  padding: 0;
}
.bodySection > div > ul > li {
  width: 100%;
  margin: 0.2em 0;
  display: inline-block;
  font-size: 1.3em;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  border-bottom: 2px solid transparent;
}
.bodySection > div > ul > li:hover {
  background: rgba(255,255,255,0.1);
  border-bottom: 2px solid #fff;
}
.bodySection > div > ul > li a {
  color: #fff;
  padding: 0.5em 3em;
  line-height: 2.5em;
  vertical-align: middle;
  text-decoration: none;
}
.menuNav {
  width: 100%;
  height: 5em;
  font-size: 1em;
  position: fixed;
  z-index: 1;
  top: 0;
}
.menuNav > nav {
  width: 100%;
  background: rgba(255,255,255,0.7);
}
.menuNav > nav > ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
.menuNav > nav > ul > li {
  list-style: none;
  float: right;
  display: none;
  line-height: 5em;
  height: 5em;
  padding: 0 2em;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  text-align: center;
  border-bottom: 2px solid transparent;
}
.menuNav > nav > ul > li:hover {
  background: rgba(255,255,255,0.8);
  border-bottom: 2px solid #193441;
}
.menuNav > nav > ul > li > a {
  font-size: 1.4em;
  color: #000;
  text-decoration: none;
}
.menuNav > nav > ul #homeId {
  float: left !important;
  display: block;
  font-weight: bold;
  font-family: 'Chewy', cursive;
  letter-spacing: 0.2em;
}
.menuNav > nav > ul #homeId > a {
  font-size: 2.7em;
}
.menuNav > nav > ul #homeId:hover {
  background: initial !important;
  border-bottom: 2px solid #193441;
  text-shadow: 0 3px 20px #8c8c8c;
}
.menuNav > nav > ul #buttonNav {
  float: right;
  display: block;
}
.menuNav > nav > ul #buttonNav > button {
  background: transparent;
  color: #808080;
  border: none;
  font-size: 2em;
}
.menuNav > nav > ul #buttonNav > button:focus,
.menuNav > nav > ul #buttonNav > button:active {
  outline: thin none;
  outline-offset: 0;
}
.menuNav > nav > ul #buttonNav > button:hover {
  color: #193441;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.menuNav > nav > ul #buttonNav:hover {
  background: transparent;
  color: #193441;
  border-bottom: 2px solid transparent;
}
.menuNav > nav > ul #buttonNav .buttonReverse {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}
.menuNav > nav .navHidden {
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  display: block;
}
.menuNav > nav .navHidden > ul {
  width: 100%;
  padding: 0;
}
.menuNav > nav .navHidden > ul > li {
  width: 93%;
  margin: 0 auto;
  list-style: none;
  height: 4em;
  line-height: 4em;
  border-bottom: 1px solid #dcdcdc;
}
.menuNav > nav .navHidden > ul > li:hover {
  background: rgba(255,255,255,0.8);
  border-bottom: 2px solid #193441;
}
.menuNav > nav .navHidden > ul > li:first-child {
  border-top: 1px solid #dcdcdc;
}
.menuNav > nav .navHidden > ul > li > a {
  color: #000;
  padding-left: 1.7em;
  font-weight: bold;
  display: block;
  text-decoration: none;
  font-size: 1.3em;
}
.aboutUsContainer {
  width: 100%;
}
.aboutUsFigure {
  height: 50vh;
  margin: 1em auto 2em auto;
  float: none;
  overflow: hidden;
  border-radius: 3px;
  background-image: -moz-background-image url("../imgs/aboutUs.jpg");
  background-image: -webkit-background-image url("../imgs/aboutUs.jpg");
  background-image: -webkit-background url("../imgs/aboutUs.jpg");
  background-image: -o-background-image url("../imgs/aboutUs.jpg");
  background-image: -ms-background url("../imgs/aboutUs.jpg");
  background-image: url("../imgs/aboutUs.jpg");
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.titlePage {
  width: 100%;
  text-align: center;
  margin: 0 auto 0 auto;
}
.titlePage .titleFirts {
  font-size: 2em;
  font-weight: bold;
  border-bottom: 2px solid #193441;
}
.textContainer {
  width: 100%;
  margin: 1% auto 1% auto;
  text-align: center;
  padding: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.textContainer .textInfo,
.textContainer .textContainer-mini {
  text-align: justify;
  font-size: 1.2em;
}
.textContainer .imageInfo {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.textContainer .imageInfo > figure {
  width: 100%;
  height: 100%;
  display: none;
}
.textContainer .imageInfo > figure > img {
  align-self: center;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
.textContainer-mini {
  margin: 0 auto;
}
.textContainer-mini > figure {
  width: 100%;
  margin-bottom: 5%;
}
.textContainer-mini > figure > img {
  width: auto;
  height: 15em;
  display: block;
  margin: 0 auto;
}
.textContainer-mini > figure .imgRadio {
  border-radius: 50%;
}
.margin5pTop {
  margin-top: 2%;
}
.titleP {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}
.titleP > span {
  font-size: 1.2em;
  font-weight: bold;
}
.servicesContainer {
  width: 100%;
  margin-top: 1em;
  overflow: hidden;
  text-align: center;
}
.servicesContainer > div {
  margin-bottom: 2em;
}
.servicesContainer > div > .containerImage {
  width: 15em;
  height: 15em;
  line-height: 15em;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 7px solid transparent;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}
.servicesContainer > div > .containerImage > figure {
  width: 100%;
}
.servicesContainer > div > .containerImage > figure > img {
  width: 90%;
  height: auto;
}
.servicesContainer > div > div {
  width: 100%;
}
.servicesContainer > div > div > span {
  font-size: 1.3em;
  font-weight: bold;
}
.servicesContainer > div:hover {
  cursor: pointer;
}
.servicesContainer > div:hover > .containerImage {
  border: 7px solid #193441;
}
.servicesContainer > div:hover > div > span {
  border-bottom: 2px solid #193441;
}
.containerModal {
  width: 100%;
  font-size: 1em;
}
.containerModal img {
  width: auto;
  height: 100%;
  max-height: 360px;
}
.containerModal > .containerModal-header {
  width: 100%;
  height: 4em;
  line-height: 4em;
  overflow: hidden;
  text-align: center;
  background: #193441;
  position: relative;
}
.containerModal > .containerModal-header > span {
  font-size: 1.8em;
  color: #fff;
  font-weight: bold;
}
.containerModal > .containerModal-header > button {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 0.5em;
  font-size: 1.3em;
  border: none;
  background: transparent;
  vertical-align: middle;
  line-height: 3em;
  width: 3em;
  border-radius: 50%;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  color: #fff;
}
.containerModal > .containerModal-header > button:hover {
  background: rgba(255,255,255,0.3);
  color: #fff;
}
.containerModal > .containerModal-header > button:focus,
.containerModal > .containerModal-header > button:active {
  outline: thin none;
  outline-offset: 0;
  background: rgba(255,255,255,0.3);
}
.servicesContainer-modal {
  width: 100%;
  overflow: hidden;
}
.servicesContainer-modal > div > figure {
  width: 100%;
  margin: 3em 0;
}
.servicesContainer-modal > div > figure > img {
  width: 15em;
  display: block;
  margin: 0 auto;
  height: auto;
}
.servicesContainer-modal > div > figure .width1Image {
  height: 6em;
  width: auto;
}
.servicesContainer-modal > div > span {
  font-size: 1.4em;
  font-weight: bold;
}
.servicesContainer-modal > div > div > p {
  font-size: 1.2em;
  text-align: justify;
  letter-spacing: 1px;
}
.contactUsContainer {
  width: 90%;
  overflow: hidden;
  text-align: center;
  margin: 5em auto 0 auto;
  float: none;
}
.contactUsContainer .mapContact {
  margin-bottom: 5em;
}
.contactUsContainer .mapContact > iframe {
  width: 100%;
  margin: 0 auto;
  display: block;
  height: 50vh;
}
.contactUsContainer .formContact {
  margin-bottom: 5em;
}
.contactUsContainer .formContact > div {
  border: 1px solid #d0cdcd;
  width: 100%;
  overflow: hidden;
  padding: 1em 0 2em 0;
  border-radius: 5px;
}
.contactUsContainer .formContact > div > form textarea {
  resize: none;
  height: 10em;
  font-size: 0.9em;
}
.contactUsContainer .formContact > div > form > div {
  margin-bottom: 1em;
}
.float-none {
  float: none !important;
  display: inline-block;
}
.hiddenFooter {
  display: none;
}
@media only screen and (min-width: 500px) and (orientation: landscape) {
  .bodySection > div {
    height: 50vh;
  }
  .bodySection > div > figure {
    height: 10.5em;
  }
  .bodySection > div > figure > img {
    margin: 1em auto 0 auto;
  }
  .bodySection > div > ul > li {
    width: initial;
    font-size: 1em;
  }
}
@media only screen and (min-width: 768px) {
  .bodySection > div {
    height: 50vh;
  }
  .bodySection > div > figure {
    height: 10.5em;
  }
  .bodySection > div > figure > img {
    margin: 1em auto 0 auto;
  }
  .bodySection > div > ul > li {
    width: initial;
    font-size: 1.3em;
  }
  .textContainer {
    width: 82%;
  }
  .textContainer .imageInfo > figure {
    display: flex;
  }
  .hiddenFooter {
    display: block;
  }
}
@media only screen and (min-width: 980px) {
  .bodySection > div > figure > img {
    margin: 2em auto;
  }
  .bodySection > div > div > span {
    font-size: 4em;
  }
  .bodySection > div > ul > li > a {
    padding: 0.5em 2em;
  }
  .menuNav > nav > ul > li {
    list-style: none;
    float: right;
    display: block;
  }
  .menuNav > nav > ul > li > a {
    font-size: 1.4em;
  }
  .menuNav > nav > ul #buttonNav {
    display: none;
  }
  .navHidden {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .textContainer .imageInfo > figure > img {
    width: auto !important;
    height: 100% !important;
  }
  .servicesContainer > div {
    margin-bottom: 2em;
  }
  .servicesContainer > div > .containerImage {
    width: 20em;
    height: 20em;
    line-height: 20em;
  }
  .servicesContainer > div > .containerImage > figure {
    width: 100%;
  }
  .servicesContainer > div > .containerImage > figure > img {
    width: 90%;
    height: auto;
  }
}
@media only screen and (min-width: 1600px) {
  .bodySection > div > figure {
    height: 15em;
  }
  .bodySection > div > figure > img {
    margin: 2em auto;
  }
  .bodySection > div > div > span {
    font-size: 4.5em;
  }
  .bodySection > div > ul > li {
    font-size: 1.5em;
  }
  .bodySection > div > ul > li > a {
    padding: 0.5em 3em;
  }
}
