<header class="menuNav">
    <nav>
        <ul class="container">
            <li><a ui-sref="contactUs">Contáctenos</a></li>
            <li><a ui-sref="services">Servicios</a></li>
            <li id="homeId"><a ui-sref="home">KAVOLCO</a></li>
            <li id="buttonNav"><button class="glyphicon glyphicon-menu-hamburger" ng-click="mCtrl.rotateBtn = !mCtrl.rotateBtn" ng-class="{'buttonReverse' : mCtrl.rotateBtn }"></button></li>
        </ul>
        <div class="navHidden" ng-if="mCtrl.rotateBtn">
            <ul>
                <li><a ui-sref="services">Servicios</a></li>
                <li><a ui-sref="contactUs">Contáctenos</a></li>
            </ul>
        </div>
    </nav>
</header>
<section class="aboutUsContainer">
    <div class="titlePage">
        <span class="titleFirts">Quiénes Somos</span>
    </div>
    <div class="aboutUsFigure col-xs-11 col-md-10"></div>
    <div class="container textContainer">
        <div class="col-xs-12 col-sm-6 textInfo ">
            <p><strong>KAVOLCO S.A.S</strong> es una compañía que construye caminos para el territorio Colombiano y se
                preocupa por proteger su medio ambiente.
                ¡Somos la empresa que construye vías de progreso y prosperidad!
                Nuestra empresa se dedica a la prestación de servicios de Construcción,
                Mantenimiento, Remodelación, Reforzamiento, Ampliación, Rehabilitación y
                Adecuación de Obras Civiles, con énfasis en Proyectos de  Infraestructura Vial.
                Contamos con elevados niveles de eficiencia en el desarrollo de nuestras
                actividades, mediante un equipo humano altamente calificado…involucrando
                personal de las comunidades indígenas.</p>
            <div class="titleP"><span>PERFIL ORGANIZACIONAL</span></div>
            <p>Como unidad de negocio, operamos en el departamento del Cauca y Huila.
                Atendemos necesidades en los diferentes municipios, licitando en cada
                Municipio con las diferentes alcaldías en apertura de vías ramales a nivel rural,
                también brindamos servicios a particulares.
                Para nosotros es fundamental contar con ingenieros y técnicos especializados,
                para ello, nuestro personal es capacitado permanentemente, desarrollando y
                perfeccionando sus habilidades.</p>
        </div>
        <div class="col-xs-12 col-sm-6 imageInfo">
            <figure>
                <img src="imgs/constuction.jpg" alt="Imagen de un constructor">
            </figure>
        </div>
    </div>
    <div class="container textContainer margin5pTop">
        <div class="col-xs-12 col-sm-6 col-md-4 textContainer-mini">
            <figure>
                <img src="imgs/mision-min.jpg" class="imgRadio" alt="">
            </figure>
            <div class="titleP"><span>MISIÓN</span></div>
            <p>Desarrollar parte del progreso Colombiano y de nuestros clientes, con
                proyectos de gran impacto social y de desarrollo regional con Obras de Ingeniería
                Civil, garantizando altos estándares de calidad, protección del medio ambiente y
                el bienestar de nuestros trabajadores, actuando con Responsabilidad Social
                asegurando la rentabilidad y la permanencia en el mercado.</p>
            <p>Es primordial para nuestra empresa la tecnología utilizada en el desarrollo de la
                gestión administrativa y operativa como soporte de su crecimiento. Para asegurar
                la calidad de las obras y por ende la satisfacción de los clientes, es partícipe en
                licitaciones de orden territorial, departamental y nacional, con el fin de continuar la
                línea ascendente fijada.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 textContainer-mini">
            <figure>
                <img src="imgs/vision-min.jpg" class="imgRadio" alt="">
            </figure>
            <div class="titleP"><span>VISIÓN</span></div>
            <p>Lograr una amplia participación en el mercado nacional en la construcción de
                Obras Civiles y de infraestructura vial, mediante la aplicación de  estándares
                integrados en Calidad, y Ambiente que permitan un mejoramiento continuo y un
                crecimiento sostenible en productividad y competitividad.</p>
            <p>Se proyecta en los próximos 5 años como una empresa dedicada a la ejecución
                de proyectos de gran envergadura en todo el territorio Colombiano, realizando
                alianzas estratégicas con otras empresas en la búsqueda de estar dentro de las
                10 empresas más competitivas de Colombia, creciendo al ritmo de las
                necesidades de nuestro país, buscando participación en los proyectos más
                importantes que generen valor a la empresa y a Colombia.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 textContainer-mini">
            <figure>
                <img src="imgs/medioAm-min.png" alt="">
            </figure>
            <div class="titleP"><span>COMPROMISO CON EL MEDIO AMBIENTE</span></div>
            <p>Cumpliendo con la conservación del medio ambiente, hemos sembrado más
                de 1500 árboles, arbustos y plantas ornamentales y productoras de alimentos de
                diferentes especies que aseguren la biodiversidad en cada una de las regiones
                donde estamos presentes.</p>
        </div>
    </div>
</section>
<footer>

</footer>