<header class="menuNav">
    <nav>
        <ul class="container">
            <li><a ui-sref="aboutUs">Quiénes Somos</a></li>
            <li><a ui-sref="services">Servicios</a></li>
            <li id="homeId"><a ui-sref="home">KAVOLCO</a></li>
            <li id="buttonNav"><button class="glyphicon glyphicon-menu-hamburger" ng-click="mCtrl.rotateBtn = !mCtrl.rotateBtn" ng-class="{'buttonReverse' : mCtrl.rotateBtn }"></button></li>
        </ul>
        <div class="navHidden" ng-if="mCtrl.rotateBtn">
            <ul>
                <li><a ui-sref="aboutUs">Quiénes Somos</a></li>
                <li><a ui-sref="services">Productos y Servicios</a></li>
            </ul>
        </div>
    </nav>
</header>
<section class="aboutUsContainer">
    <div class="titlePage">
        <span class="titleFirts">Conctáctenos</span>
    </div>
    <div class="contactUsContainer">
        <div class="col-xs-12 col-md-6 mapContact">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1423.9358841364567!2d-76.54577969542606!3d3.4331569993771764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zM8KwMjUnNTkuNCJOIDc2wrAzMic0MC45Ilc!5e1!3m2!1ses!2sco!4v1467752620377" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12 col-md-6 formContact text-left">
            <div>
                <div class="col-xs-12 text-center">
                    <h4><strong>Formulario de Contacto</strong></h4>
                </div>
                <form name="mCtrl.contactForm">
                    <div class="col-xs-12">
                        <label for="name">Nombre</label>
                        <input
                                type="text"
                                id="name"
                                name="name"
                                class="form-control"
                                required
                                ng-model="mCtrl.newContact.name">
                    </div>
                    <div class="col-xs-12">
                        <label for="email">Email</label>
                        <input
                                type="email"
                                id="email"
                                name="email"
                                class="form-control"
                                required
                                ng-model="mCtrl.newContact.email">
                    </div>
                    <div class="col-xs-12">
                        <label for="cellphone">Celular</label>
                        <input
                                type="text"
                                id="cellphone"
                                name="cellphone"
                                class="form-control"
                                required
                                ng-model="mCtrl.newContact.cellphone">
                    </div>
                    <div class="col-xs-12">
                        <label for="message">Mensaje</label>
                        <textarea
                                id="message"
                                name="message"
                                class="form-control"
                                required
                                ng-model="mCtrl.newContact.message">
                        </textarea >
                    </div>
                    <div class="col-xs-12">
                        <button
                                class="btn btn-info form-control"
                                ng-click="mCtrl.submitFormContact()">
                            Enviar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer>
        <div class=" col-sm-4 text-center hiddenFooter">
        <h5>Damaris Solarte</h5>
        <h6>Administradora</h6>
        <span>damart2011@hotmail.com - 304 651 2069</span>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
        <h4><strong>KAVOLCO S.A.</strong></h4>
        <h6>Popayán - Cauca</h6>
        <span>Kavolco@gmail.com</span>
    </div>
    <div class=" col-sm-4 text-center hiddenFooter">
        <h5>Santiago Villa</h5>
        <h6>Gerente</h6>
        <span>310 436 9881</span>
    </div>
</footer>