<header class="menuNav">
    <nav>
        <ul class="container">
            <li><a ui-sref="aboutUs">Quiénes Somos</a></li>
            <li><a ui-sref="contactUs">Contáctenos</a></li>
            <li id="homeId"><a ui-sref="home">KAVOLCO</a></li>
            <li id="buttonNav"><button class="glyphicon glyphicon-menu-hamburger" ng-click="mCtrl.rotateBtn = !mCtrl.rotateBtn" ng-class="{'buttonReverse' : mCtrl.rotateBtn }"></button></li>
        </ul>
        <div class="navHidden" ng-if="mCtrl.rotateBtn">
            <ul>
                <li><a ui-sref="aboutUs">Quienes Somos</a></li>
                <li><a ui-sref="contactUs">Contáctenos</a></li>
            </ul>
        </div>
    </nav>
</header>
<section class="aboutUsContainer">
    <div class="titlePage">
        <span class="titleFirts">Productos y Servicios</span>
    </div>
    <div class="servicesContainer">
        <div class="col-xs-11 col-sm-6 col-md-4 float-none" ng-click="mCtrl.openModalProductsAndServices('machines')">
            <div class="containerImage">
                <figure>
                    <img src="imgs/Mcamion.png" alt="Maquinaria">
                </figure>
            </div>
            <div>
                <span>Maquinaria</span>
            </div>
        </div>
        <div class="col-xs-11 col-sm-6 col-md-4 float-none" ng-click="mCtrl.openModalProductsAndServices('services')">
            <div class="containerImage">
                <figure>
                    <img src="imgs/services.png" alt="Servicios">
                </figure>
            </div>
            <div>
                <span>Servicios</span>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="col-xs-12 text-center">
        <h5>KAVOLCO S.A.</h5>
        <h6>Popayán - Cauca</h6>
        <span>Kavolco@gmail.com</span>
    </div>
</footer>