<section>
    <div class="bodySection">
        <div class="col-xs-11 col-sm-10 col-md-6 col-lg-5">
            <figure>
                <img src="imgs/logo.png" alt="logo">
            </figure>
            <span class="titleFirts">KAVOLCO</span>
            <ul>
                <li><a ui-sref="">¿Quiénes Somos?</a></li>
                <li><a ui-sref="">Servicios</a></li>
                <li><a ui-sref="">Maquinaria</a></li>
                <li><a ui-sref="">Proyectos</a></li>
                <li><a ui-sref="">Contactenos</a></li>
            </ul>
        </div>
    </div>
    div.
</section>