<section class="containerModal">
    <div class="containerModal-header">
        <span class="">Servicios</span>
        <button class="glyphicon glyphicon-remove" ng-click="mdCtrl.closeModal()"></button>
    </div>
    <div class="modal-body overflow-hidden">
        <div class="col-xs-12">
            <div class="col-xs-12 col-sm-6 col-md-4 text-center">
                <figure style="width: 100%">
                    <img src="imgs/services2.JPG" style="width: 100%; height: 15em; border-radius: 10px;" alt=""/>
                </figure>
                <h4><strong>Construcción y operación de Concesiones Viales.</strong></h4>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 text-center">
                <figure style="width: 100%">
                    <img src="imgs/services1.jpg" style="width: 100%; height: 15em; border-radius: 10px;" alt=""/>
                </figure>
                <h4><strong>Mantenimiento Vial.</strong></h4>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 text-center">
                <figure style="width: 100%">
                    <img src="imgs/services3.jpg" style="width: 100%; height: 15em; border-radius: 10px;" alt=""/>
                </figure>
                <h4><strong>Construcción de proyectos de infraestructura vial, movimiento de tierras,

                    carreteras, planos para construcción de vivienda.</strong></h4>
            </div>
        </div>
    </div>
</section>

