<header class="menuNav">
    <nav>
        <figure>
            <img src="" alt=""/>
        </figure>
        <ul class="container">
            <li><a>Contáctenos</a></li>
            <li><a>¿Que Ofrecemos?</a></li>
            <li id="homeId"><a ui-sref="home">KAVOLCO</a></li>
        </ul>
    </nav>
</header>
<section class="aboutUsContainer">
    <div class="titlePage">
        <span class="titleFirts">¿Que Ofrecemos?</span>
    </div>
    <div class="servicesContainer">
        <div>
            <span>Maquinaria</span>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="imgs/Mcama_baja.png" alt="Cama Baja (lowboy)">
                </figure>
                <span>Camabaja</span>
                <div>
                    <p>
                        También es conocido como remolque de plataforma baja y básicamente
                        nos referimos a una herramienta que nos ayuda a transportar, o como
                        su nombre lo dice, a remolcar objetos pesados fácilmente, gracias a su especial forma.
                        El primer lowboy fue utilizado en 1920.
                        Este tipo de remolque es  adecuado para cargas pesadas y de gran tamaño.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="imgs/Mretro.png" alt="Retroexcabadora">
                </figure>
                <span>Maquina retroexcavadora</span>
                <div>
                    <p>
                        La retroexcavadora es una máquina que se utiliza para realizar excavaciones en terrenos.
                        Consiste en un balde de excavación en el extremo de un brazo articulado de dos partes.
                        Se montan normalmente en la parte posterior de un tractor o cargador frontal,
                        no debe ser confundido con una excavadora.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="imgs/Mretro2.png" alt="Motoniveladora">
                </figure>
                <span>MotoNiveladora</span>
                <div>
                    <p>
                        Una motoniveladora es una máquina de construcción que cuenta con una larga hoja metálica
                        empleada para nivelar terrenos, además posee escarificadores para terrenos duros,
                        los cuales puede ubicar al frente, en medio del eje delantero y la cuchilla o en la parte trasera,
                        llamándose en este caso ripper.
                    </p>
                </div>
            </div>
            <!--<div class="col-xs-12 col-sm-6 col-md-4">-->
                <!--<figure>-->
                    <!--<img src="../imgs/Mmotoniveladora.jpg" alt="">-->
                <!--</figure>-->
                <!--<span></span>-->
                <!--<div>-->

                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</section>
<footer>

</footer>